# Composer lock file
composer.lock

# yarn lock file
__tests__/yarn.lock
__tests__/yarn-error.log

# IDEs
/nbproject
/.idea

# Vendors
/vendor
__tests__/node_modules

# Temp dirs & trash
/temp
/tmp
/*.tmp
/coverage
.DS_Store
*.cache
