* text=auto

/sdk/php/tests       export-ignore
/sdk/php/phpunit.xml export-ignore
/tests               export-ignore
/*.md                export-ignore
/LICENSE*            export-ignore
/.*                  export-ignore
/phpunit.xml         export-ignore
