# Composer lock file
composer.lock

# yarn lock file
yarn.lock
yarn-error.log

# IDEs
/nbproject
/.idea

# Vendors
/vendor
/node_modules

# Temp dirs & trash
/temp
/tmp
/*.tmp
/coverage
.DS_Store
*.cache
